@import "tailwindcss";
@import 'flowbite';
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";

@font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/TASAOrbiterDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }